# Frontend Environment Variables
VITE_API_URL=http://localhost:3000/api/v1

# Backend Environment Variables
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/medicare?schema=public"
NODE_ENV=development
